/* Universal selector '*' may override conflicts coming from default browser elements; the combination of the 'box-sizing' and 'margin' values will tell the browser to ignore padding in overall width measurements that use percentages, for example. */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* sets background color for the full page */
body {
    background-color: #d9dcd6;
}

/* The next several rules use the 'header' element selector to modify the corresponding html element, with varying degrees of specificity based on the other elements added as selectors. */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* The display value turns the H1 element from a block to an inline element to make room for the navigation statements on the same line. */
header h1 {
    display: inline;
    font-size: 48px;
}

/* this combo element/class selector changes utilizes the <span> element to subtly highlight the "seo" in Horiseon. */
header h1 .seo {
    color: #d9dcd6;
}

/* This rule pushes the navigation links to the right side of the page; this and the next several rules add other style properties to the navigation. */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin-left: 25px;
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

/* This rule applies to "the hero" - the large main page image */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* This rule will style all paragraph content linked to this style sheet, if not acted upon by a more specific selector. */
p {
    font-size: 16px;
}

/* the next two general class selectors are used to alterate the text and images within the content section */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* the next several rules apply to the main class="content" section which holds 3 class="content-services" containers */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.content-services {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.content-services img {
    max-height: 200px;
}

.content-services h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* the next several rules apply to the main class="benefits" section which holds 3 class="benefit" containers */
.benefits {
    margin-right: 20px;
    padding: 20px;
    /* clear: both;  I understand that the 'clear' property relates to the container in relation to external float elements, but I cannot ascertain what actual 
    affect this property has here - it seems to have no impact, so it is preserved though commented out. */
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* the below display and margin values help to center the dcorative images within their container */
.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* The last two rules style the footer. */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
